= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= @task.errors.count.to_s + "件のエラーが発生しています"
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message

  .samp
    = f.label :title, 'タスク名'
    = f.text_field :title

  / 方針①JavaScriptで動的にフォームを変更する?(月, 週, 日)
  / 方針②各フォームを作成する。(月, 週, 日)
  // 一旦①の方向で実装を進める。
  .samp
    = f.label :monthly
    = f.radio_button :kind, :monthly
    = f.label :weekly
    = f.radio_button :kind, :weekly
    = f.label :daily
    = f.radio_button :kind, :daily, checked: true

  / TODO 部分テンプレートに分ける 月次, 週次, 日次
  / 月次タスク用
  .samp
    %h3 月次タスク用(JSで出したり消したりする)
    = f.label :month
    = f.month_field :month

  / 週次タスク用
  .samp
    %h3 週次タスク用(JSで出したり消したりする)
    = f.label :week
    = f.week_field :week

  / 日時タスク用
  .samp
    %h3 日時タスク用(JSで出したり消したりする)
    = f.label :date, "日付"
    = f.date_field :date
    = f.label :start_time, "開始時刻"
    = f.time_field :start_time
    = f.label :finish_time, "終了時刻"
    = f.time_field :finish_time

  .samp
    = f.submit "登録"