.section
  .container.calendar-monthly
    .month
      %ul
        %li.prev
          = link_to monthly_tasks_path(date: @prev_month) do
            ❮
        %li.next
          = link_to monthly_tasks_path(date: @next_month) do
            ❯
        %li
          = @date.strftime("%B")
          %br/
          %span{:style => "font-size:12px"}= @date.strftime("%Y")
    %ul.weekdays
      %li Mo
      %li Tu
      %li We
      %li Th
      %li Fr
      %li Sa
      %li Su
    %ul.days
      - @days.each do |day|
        %li
          - if day[:has_task]
            = link_to "#" do
              %span.active= day[:date]
          - else
            = link_to "#" do
              = day[:date]
    %ul.tasklist
      - @monthly_tasks.each do |task|
        %li
          %span 月タスク
          = task.title
        %li
          %span 月タスク
          = task.title