.section
  .container.calendar-weekly
    .month
      %ul
        %li.prev
          = link_to weekly_tasks_path(date: @prev_week) do
            ❮
            / %span>< 前週
        %li.next
          = link_to weekly_tasks_path(date: @next_week) do
            /
            ❯
        %li
          = @date.beginning_of_week.strftime("%m/%d") + " ~ " + @date.end_of_week.strftime("%m/%d")
          %br/
          %span{:style => "font-size:12px"}= @date.year
    .week-day
      %ul
        - @days.each do |day|
          %li
            .day-title= day[:date]
            - unless day[:tasks].empty?
              - day[:tasks].each do |task|
                .day-content
                  = link_to task_path(task) do
                    = task.decorate.start_time_to_finish_time + " / " + task.title
            - else
              .day-content
                No task
        / %li
        /   .day-title 2月3日(月)
        /   .day-content 終日
        / %li
        /   .day-title 2月4日(火)
        /   .day-content 終日
        / %li
        /   .day-title 2月5日(水)
        /   .day-content 終日
        / %li
        /   .day-title 2月6日(木)
        /   .day-content 終日
        / %li
        /   .day-title 2月7日(金)
        /   .day-content 終日
        / %li
        /   .day-title 2月8日(土)
        /   .day-content 終日
        / %li
        /   .day-title 2月9日(日)
        /   .day-content 終日
    %ul.tasklist
      - @weekly_tasks.each do |task|
        %li
          %span 週タスク
          = task.title
