= form_for @user do |f|
  .header.text-center
    - if @user.errors.any?
      #error_explanation
        %h2= @user.errors.count.to_s + "件のエラーが発生しています"
        %ul
          - @user.errors.full_messages.each do |message|
            %li= message
    .logo-container
      = image_tag 'logo-black.svg', alt: 'Uptech'
      新規ユーザー登録
    .content
      .input-group.form-group-no-border.input-lg
        %span.input-group-addon
          %i.now-ui-icons.users_single-02
        = f.text_field :name, class: 'form-control', placeholder: '名前を入力'
      .input-group.form-group-no-border.input-lg
        %span.input-group-addon
          %i.now-ui-icons.ui-1_email-85
        = f.text_field :email, class: 'form-control', placeholder: 'メールアドレスを入力'
      .input-group.form-group-no-border.input-lg
        %span.input-group-addon
          %i.now-ui-icons.ui-1_lock-circle-open
        = f.password_field :password, class: 'form-control', placeholder: 'パスワードを入力'
      .input-group.form-group-no-border.input-lg
        %span.input-group-addon
          %i.now-ui-icons.ui-1_lock-circle-open
        = f.password_field :password_confirmation, class: 'form-control', placeholder: 'パスワード確認を入力'
      .input-group.form-group-no-border.input-lg
        %span.input-group-addon
          = f.label :role, "ポジション"
        = f.select :role, [["Staff", 0], ["Manager", 1]], {}, {class: 'form-control'}
      .input-group.form-group-no-border.input-lg
        %span.input-group-addon
          = f.label :superior_id, "上長"
        = f.select :superior_id,[["サンプル部長", 1], ["水森課長", 2]], {}, {class: 'form-control'}

    .footer.text-center
      = f.submit :新規ユーザー登録, class: 'btn btn-uptech btn-round btn-lg btn-block'
    .pull-left
      %h6
        = link_to '/sign_in', class: 'link' do
          既にアカウントを持っている方 (ログイン)