= form_for [@task, @report] do |f|
  - if @report.errors.any?
    #error_explanation
      %h2= @report.errors.count.to_s + "件のエラーが発生しています"
      %ul
        - @report.errors.full_messages.each do |message|
          %li= message

  - if @task.monthly?
    = render partial: "shared/forms/month", locals: { f: f }

  - if @task.weekly?
    = render partial: "shared/forms/week", locals: { f: f }

  - if @task.daily?
    = render partial: "shared/forms/day", locals: { f: f }
  / .samp
  /   = f.submit "登録", class: 'btn btn-uptech btn-round btn-lg btn-block'

